
// Nav bar 
.navbar {
    padding: 1rem;
    background-color: $Background_Main;

    & button{
        padding: 1rem;
        background-color: rgb(255, 255, 255);
    }

    & button:hover{
        padding: 1rem;
        background-color: rgb(185, 185, 185);
    }

    &-brand{
        display: none;
    }

    &-collapse{
        align-items: center;
        justify-content: space-between;

        & a{
            color:white;
        }
    
    }

}
