
//CSS del HTML: Contacto


.seccion_form_contacto{

    @include flexible(flex,column,nowrap,center,center,center);
    font-family:Arial, Helvetica, sans-serif;
    padding:50px 50px ;
}

#pregunta_contacto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}


form{
    @include flexible(flex,column,nowrap,center,none,left);
    margin:50px 30px;
}

.form-group{
    @include flexible(flex,column,nowrap,none,none, none);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}

.form-content{
    @include flexible(flex,column,nowrap,none,none,none);
}

label{
    color:rgb(71, 71, 71);
    font-size: 14px;
    margin-bottom: 10px;
}

input{
    padding: 10px 15px;
    background-color: rgb(236, 235, 235);
    border: 0;
    outline: none;
    font-size:16px
}

textarea{
    padding: 10px 15px;
    background-color: rgb(236, 235, 235);
    border: 0;
    outline: none;
    font-size:15px;
    font-weight: lighter;

}

::placeholder{
    color:rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
} 
