// Secciones 

#hero{
    display:flex;
    height:300px
}

.video-container {
    position:relative;
    width: 100%;
    background-color: $Background_Main;
    height:100%;
    overflow: hidden;
    
    
}

.content{
    position:absolute;
    width:100%;
    right:0;
    bottom:60px;
    align-content: center;
    text-align: center;

    & h1 {
        color:white;
        font-size: 30px;
        text-align: center;}
    & h1 span{
        font-size: 70px;
    }

    & button{
        font-size: 15px;
    }
    
}


#automatiza-tus-datos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:40px;
    font-size: 10px;

    & button{
        margin-top:50px;
    }
}




#nuestro-proceso{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    background-color:$Background_Main;
    height:100%;
    border:1px solid white;
    padding:50px 0px;

    & .container{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    & h2{
        color:white;
        font-size: 30px;
        
    }

    & p{
        color:white
    }
    
    & .container-nuestroproceso-circular{
        display:flex;
        flex-direction: column;
        width:160px;
        height:160px;
        justify-content: center;
        align-items: center;
        margin:20px;
        border:2px solid $background_Botton;
        border-radius: 100%;
        color:white;
        
        

        & i{
            display: flex;
            justify-content: center;
            align-items: center;
            width:50%;
            height:40%;
            font-size: 30px;
            color:white;
            
        } 

        & span{
            font-size: 30px;
            color:white;
            
        } 

        & p{
            font-size: 16px;
            color:white;
            padding:10px
        }
    }
    
    & .icon-flecha{
        font-size: 30px;
        color:white;
        transform: rotate(90deg);
        transition: ALL 0.5s;
    }

}




#Quienes-Somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;

    & h2{
        color:$Color_Titulos_secciones;
        margin-top:20px;
        font-size: 30px;
        margin-bottom:0px;
        
    }
    
    & .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.personas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height:auto;
    padding:20px;
    margin:20px;
    text-align: center;

    & a img{
        width:250px;
        height:250px;
        border-radius: 100%;
        box-shadow: 2px 2px 10px black;
        
    }

    & h3{
        font-size:25px;
        padding-top:10px;
        padding-bottom: 0;
    }

    & h4{
        font-size:15px;
        font-weight: bold;
    }
    
}

// keyframes

@keyframes appear {
    0%, 25% {
      opacity: 0;
    }
    50%, 100% {
      opacity: 1;
    }
  }
  
 