
@media (min-width: 1024px){

    .navbar-brand{
        display:block ;
    }

    .navbar-icon{
        display:none
    }


    .video_fondo {
        
        width: 100%;
        top: -20px;
        height: auto;
        transform: scale(2, 2);
        left:10px

    }

    .content{
        text-align: end;
    }

    .content h1{
        padding:0px 30px;
        color:rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bold;
        text-align: end;
    }

    .content h1 span{
        color:rgb(255, 255, 255);
        font-size: 60px;
    }

    .content button{
        width:auto;
        font-size: 20px;
        margin:0px 50px
    }

    // NUESTRO PROCESO 
    
   
    #nuestro-proceso h2{
        color:white;
        font-size: 40px;
        
    }
    #nuestro-proceso .container-nuestroproceso-circular{
        width:300px;
        height:300px;
        
    }

    #nuestro-proceso .container-nuestroproceso-circular i{
        font-size: 60px;
        color:white;
        
    }

    #nuestro-proceso .container-nuestroproceso-circular span{
        font-size: 70px;
        color:white;
        
    }

    #nuestro-proceso .container-nuestroproceso-circular p{
        font-size: 22px;
        color:white;
        max-width: 250px;
        text-align: center;
    }

    #nuestro-proceso .icon-flecha{
        font-size: 40px;
    }

    #nuestro-proceso .material-symbols-outlined{
        font-size: 50px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        width:50%;
        height:40%;
        font-size: 50px;
        color:white
    }


    //QUIENES SOMOS
    
    
    .personas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:auto;
        height:auto;
        padding:20px;
        
    }
    
    .personas h3{
        font-size:30px;
        padding-top:10px;
        padding-bottom: 0;
        font-weight: bold;
    }
    
    .personas h4{
        font-size:20px;
        
    }

    .personas img{
        width:300px;
        height:300px;
        
        
    }
}