
@media (min-width: 768px){


    // Css General

    .navbar-brand{
        display:block ;
    }
    .navbar-icon{
        display:none
    }

    .content{
        text-align: end;
        & h1{
            padding:0px 30px;
            color:rgb(255, 255, 255);
            font-size: 40px;
            font-weight: bold;
            text-align: end;
            }

        & h1 span{
            color:rgb(255, 255, 255);
            font-size: 60px;
            }

        & button{
            width:auto;
            font-size: 20px;
            margin:0px 50px
            }
    }


    // Css de HTML : Index

    //Sección Nuestro Proceso
    
   
    #nuestro-proceso{
        & h2{
            color:white;
            font-size: 40px;
            }

        & .container-nuestroproceso-circular{
            width:300px;
            height:300px;
            
            }

        & .container-nuestroproceso-circular i{
            font-size: 60px;
            color:white;
            }
        
        & .container-nuestroproceso-circular span{
            font-size: 70px;
            color:white;
            }
        
        & .container-nuestroproceso-circular p{
            font-size: 22px;
            color:white;
            max-width: 250px;
            text-align: center;
            }

        & .icon-flecha{
            font-size: 40px;
            }
        
        & .material-symbols-outlined{
            font-size: 50px;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            width:50%;
            height:40%;
            font-size: 50px;
            color:white
        }
    
    }


    // Sección Quiénes Somos
    
    #Quienes-Somos h2{
        font-size: 40px;
    }

    .personas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:auto;
        height:auto;
        padding:20px;

        & h3{
            //font-size:30px;
            padding-top:10px;
            padding-bottom: 0;
            font-weight: bold;
            }
        
        & h4{
            //font-size:20px;
        }

        & img{
            width:300px;
            height:300px;
            }
    }
    
    footer {

        & .container{
            padding:20px 0px;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
        }

        & .footer_partes{
            width: 100%;
            display: flex;
            flex-direction: row;
            
        }
    }

    .container-datos-empresa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-redes-sociales{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & i{
            padding: 40px;
            
        }
    }

    .container-nav-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        width: 100%;
        padding: 50px;

        & li{
            text-decoration: none;
            color:white;
            list-style:none;
            padding:5px;

            & a{
                text-decoration: none;
                color:white;
                list-style: none;
                } 
            }
    }


    // Css de HTML : Contacto

    #pregunta_contacto{
        font-size: 25px;
    }

    .form-group{
        flex-direction: row;
    }


    // Css de HTML : Clientes


    .clientes-personas{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    #nuestros-clientes p{
        color:rgb(138, 138, 138);
        font-size: 20px;
        padding:0px 30px;

        & .clientes-personas img{
            width:250px;
            height:250px;
            box-shadow: 2px 2px 10px black;
            border: 1px solid black;
            border-radius: 100%;
            margin-bottom: 20px;
            }  
    }


    // Css de HTML : Servicios

    .card-text {
        display:block;
        font-size: 12px;
    }

    #nuestros-servicios .col-sm-4{

        img{
            width:500px;
            height:150px
            }
        
        h2{
            font-size: 20px;
            }

        p{
            font-size: 13px;
            }
        
        .card-body{
            min-height: 400px;
            max-height: 100%;

        }
    }

    
            
            
           
    
    
} 