
@media (min-width: 1440px){

    // Css General

    .navbar-brand{
        display:block ;
    }

    .navbar-icon{
        display:none
    }
    

    // Css de HTML : Index

    //Sección Hero


    #hero{
        height:600px;
    }

    .video-container {
        position:relative;
        height:600px;
        overflow: hidden;
    }


    .content{
        position:absolute;
        right:100px;

        & h1{
            color:rgb(255, 255, 255);
            font-size: 60px;
            font-weight: bold;

            & span{
                color:rgb(255, 255, 255);
                font-size: 130px;
                }
            }
        
        & button{
            width:auto;
            font-size: 20px;
            }

    }

    //Sección Automatiza tus datos

    #automatiza-tus-datos{
        align-items: center;
        width:auto;

        & h2{
            font-size: 30px;
            max-width:700px
            }
        
        & button{
            margin-top:40px;
            font-size: 20px;
        }
    
    }

    //Sección Nuestro Proceso

    #nuestro-proceso {

        & h2{
        color:white;
        margin-top:50px;
        font-size: 40px;
        }

        & .container{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            }
        & .container-nuestroproceso-circular{
            display:flex;
            flex-direction: column;
            margin:20px;
            width:300px;
            height:300px;
            justify-content: center;
            align-items: center;
            margin:20px;
            border:2px solid rgb(136, 2, 96);
            border-radius: 100%;

            & i{
                display: flex;
                justify-content: center;
                align-items: center;
                width:50%;
                height:40%;
                font-size: 40px;
                color:white;  
                }
            
            & span{
                font-size: 40px;
                color:white;
                }
            
            & p{
                font-size: 18px;
                color:white;
                max-width: 250px;
                }
            }
        
        & .icon-flecha{
            font-size: 50px;
            color:white;
            transform: rotate(0deg); 
            }
        
        & .material-symbols-outlined{
            font-size: 50px;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            width:50%;
            height:40%;
            font-size: 50px;
            color:white
            }
    }

 
    //Sección Quiénes Somos

    #Quienes-Somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:700px;

        & h2{
            color:rgb(1, 1, 56);
            margin-top:60px;
            font-size: 40px;
            }
        
        & .container{
            display:flex;
            flex-direction: row;
            width: 100%;
            height:100%;
            margin:0px;
            padding:0px;
            }
    }
    
    #Quienes-Somos .personas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:100px;

        & img{
            width:350px;
            height:350px;
            border-radius: 100%;
            box-shadow: 2px 2px 10px black;
            }
        
        & h2{
            padding:10px
            }
        
        & h3{
            //font-size: 30px;
            padding:10px
        }

        & h4{
            //font-size: 20px;
        }
    }


    // Css de HTML : Contacto

    
    #pregunta_contacto{
        font-size: 25px;
    }
    
    
    form{
        width: 800px;
    }

    .form-group{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px;
        margin-bottom: 40px;
    }





    // Css de HTML : Nosotros

    //Seccion Nosotros

    #Nosotros{
        display:flex;
        flex-direction: column;
        justify-content: start;
        text-align:center;
        background-color:#09152B;
        color:white;

        & div p{
            padding:50px 50px
            }
        
    }

    //Seccion MisionVision

    #Mision-Vision  {
        display: flex;
        flex-direction: column;

        & .container {
            display: flex;

            & h2 {
                font-size: 30px;
                }
            
            & p {
                font-size: 20px;
                text-align: left;
                }
            }
    }

    //Seccion Nuestros Valores

    #Nuestros-valores{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        background-color:#d6d6d6;
        height:400px;
        color:rgb(0, 0, 0);

        & h2{
            font-size: 30px;
            }
        
        & .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            }
    }

    //Seccion Nuestros Clientes


    #nuestros-clientes{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        background-color:#ffffff;
        color:rgb(0, 0, 0);

        & h2{
            color:rgb(1, 1, 56);
            font-size: 40px;
            }
        
        & h3{
            color:rgb(1, 1, 56);
            margin-top:20px;
            font-size: 30px;
            }

        & .container{
            display:flex;
            flex-direction: row;
            justify-content: center;
            }
        
        & .clientes-personas{
            display: flex;
            flex-direction: column;
            justify-content: center;

            & img{
                width:300px;
                height:300px;
                box-shadow: 2px 2px 10px black;
                } 
            }
        
    }

}